
@font-face {
  font-family: 'Terminal Grotesque';
  src: url('/assets/fonts/terminal-grotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminal Grotesque Open';
  src: url('/assets/terminal-grotesque_open.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Terminal Grotesque', 'Lucida Console', 'Courier New', monospace;
  padding-bottom: 2rem;
}

.bg-lightblue, .grid-cell-container.active, .grid-cell-container.active .grid-cell {
  background-color: rgb(186, 213, 255) !important;
}

.bg-lighterblue {
  background-color: rgb(237, 243, 253) !important;
}

.bg-salmon, .playing .grid-cell-container.active .grid-cell.bg-salmon {
  background-color: #ff75aa !important;
}

.bg-salmon-light {
  background-color: #ffe4ee;
}

.playing .grid-cell.bg-salmon {
  background-color: #ffc7dd !important;
}

.text-salmon, a {
  color: #ff75aa !important;
}

.hover\:text-salmon-highlight:hover {
  color: #fe98bf !important;
}

.hover\:bright:hover {
  filter: brightness(115%)
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.grid-cell {
  height: 2rem;
  width: 2rem;
  margin: 0.25rem;
  cursor: pointer;
}

.connected .grid-cell {
  width: 2.5rem;
  margin-left: 0;
  margin-right: 0;
}

.grid-row-label {
  height: 2rem;
  width: 2rem;
}

.grid-row-label-text {
  width: 2rem;
  line-height: 1;
}

@media (max-width: 768px) {
  .grid:not(.playing) {
    display: block;
  }

  .playing .grid-cell {
    height: 1rem;
    width: 1rem;
    margin: 0.15rem;
  }

  .connected.playing .grid-cell {
    width: 1.3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .playing .grid-row-label {
    display: none;
  }
}

.form-range::-webkit-slider-runnable-track {
  border-radius: 0 !important;
}

.form-range::-moz-range-track {
  border-radius: 0 !important;
}

.form-range::-webkit-slider-thumb {
  border-radius: 0 !important;
  background-color: #ff75aa !important;
}

.form-range::-moz-range-thumb {
  border-radius: 0 !important;
  background-color: #ff75aa !important;
}

.preset {
  cursor: pointer;
  background-color: var(--bs-light);
}

.preset:hover {
  border-color: rgb(186, 213, 255) !important;
}

.preset-grid {
  background-color: white;
}

.preset:hover,
.preset:hover .preset-grid,
.preset:hover .preset-grid-cell {
  background-color: rgb(226, 237, 255) !important;
}

.preset:hover .preset-grid-cell.bg-salmon {
  background-color: #fe98bf !important;
}

.preset-grid-cell {
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.05rem;
}

.connected .preset-grid-cell {
  width: 0.55rem;
  margin-left: 0;
  margin-right: 0;
}

.card-btn {
  cursor: pointer;
  display: flex;
}

.card-btn svg {
  color: #ff75aa;
}

.card-btn.active, .card-btn:hover {
  background-color: rgb(226, 237, 255);
  border-color: rgb(186, 213, 255);
  color: #ff75aa;
}

button.btn-outline-theme {
  border-color: rgb(186, 213, 255);
  color: #ff75aa;
}

button.btn-outline-theme:hover {
  background-color: rgb(186, 213, 255);
  color: #ff75aa;
}

.callout-left {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgb(237, 243, 253);
}

.callout-secondary {
  border-right-color: var(--bs-secondary);
}

.translucent {
  opacity: 0.75;
}

.border-lightblue {
  border: 1px solid #bad5ff !important;
}

.border-dashed {
  border-style: dashed !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grabbing {
  cursor: grabbing;
}

.scale-75 {
  scale: 75%;
}
